#container {
	width:944px;
	margin:0 auto;
	background: #fff url(../background.png) no-repeat;
	position:relative;
	height:420px;
	padding:80px 0 0 170px;
}



#Header {
	width:800px;
	margin:0 auto;
	height:100px;
	background:#FFCC99;
}

#PageBody {
	width:800px;
	margin:0 auto;
	height:400px;
	background:#CCFF00;
}

#Footer {
	width:800px;
	margin:0 auto;
	height:50px;
	background:#00FFFF;
}

#Sidebar {
	float:left;
	width:20%;
	height:100%;
	background:#00FF00;
}

#MainBody {
	float:left;
	width:60%;
	height:100%;
	background:#000000;
}


/*new*/
.layout{ height:0; overflow:hidden;}
.basic-grey {
	width:220px;
	padding: 0px 30px;
	background: #F7F7F7;
	font: 12px Georgia, "Times New Roman", Times, serif;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #E4E4E4;
}
.basic-grey input[type="text"], .basic-grey input[type="password"], .basic-grey textarea, .basic-grey select {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 0px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 65%;
	font-size: 12px;
	line-height: 15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
input[type=text]:focus,input[type=email]:focus{

	}
.basic-grey p span{ width:50px; display:inline-block }

input[type=button] {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 5px 0px 5px 5px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

input[type=button]:hover,
input[type=button]:focus,
input[type=button]:active,
input[type=button].active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

input[type=button]:active,
input[type=button].active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

#container .listBtn{
	position: absolute;
	background:#F7F7F7;
	padding:0px 50px;
}
#container .listBtn p{ margin:20px 0 20px 0;}
#container .listBtn input[type=button]{width:100px; display:block; margin:0 auto;}
#container .gdfir{padding:0px; height:330px; overflow-y:auto; width:240px; }
